head{
    color: white;
    text-align: center;

}

body{
    background-image: url("https://images4.alphacoders.com/199/thumb-1920-199238.jpg");
    text-align: left;

}
#titulo{
    background-color: gray;
    text-align: center;
    margin: 10px;
    height: 40px;
    border-radius: 10px;
}
#corpo{
    background-color: gray;
    text-align: center;
    margin: 10px;
    height: 100px;
    border-radius: 10px;

}